.dashboard-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
}

.content {
    flex: 1;
    min-width: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 3% 2%;
}

@media (max-width: 425px) {
    .dashboard-container {
        width: 100%;
    }

    .content {
        width: 100%;
        padding: 20px 10px;
    }
}